# Database settings
DB_USER=user
DB_PASS=pass
DB_HOST=db # Host name should match the service name defined in docker-compose.yml
DB_NAME=ecommerce
# Database connection URI
DB_URI=mysql+mysqldb://${DB_USER}:${DB_PASS}@${DB_HOST}/${DB_NAME}
# Token settings
SECRET_KEY=6046220e37015fc11748c76b04455f9f7fd4efcc98823b05191e8e224cff967f
ALGORITHM=HS256
EXPIRE=60
# Hashing scheme
SCHEME=bcrypt
# Application settings
APP_PORT=8000 # Port should be free on the host machine
